
#tipoMovimiento{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family: 
    'Quicksand', sans-serif;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

#nroSucursal{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family: 
    'Quicksand', sans-serif;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;

}
#a{
  
        text-align: left; 
        font-family: Arial Black; 
        font-weight: bold; font-size: 30px; 
        background: #202020; 
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text; 
        color: transparent; 
        text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    
}
#año{
    margin-bottom:10px;
    margin-top:10px;
    position: relative;
    margin-right: 10rem;
}
/* #mes{
    margin-bottom:10px;
    margin-top:10px;
    position: relative;
    margin-left: 20rem;
} */

